body{
    width: 100vw;
    min-height: 100vh;
    background: rgb(34, 29, 29);
    overflow: hidden;
}

.stopwatch__title{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 0;
    background: rgb(58, 51, 51);
    margin-bottom: 50px;
}

.stopwatch{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .stopwatch__display-time{
        font-family: monospace;
        font-size: 4rem;
        color: #fff;
        font-weight: bold;
    }

    .stopwatch__menu{
        margin-top: 75px;

        .stopwatch__btn{
            background: none;
            border: none;
            background-color: rgb(65, 151, 65);;
            border: 2px solid rgb(34, 29, 29);
            border-radius: 50%;
            width: 75px;
            height: 75px;
            position: relative;
            margin: 0 25px;
            cursor: pointer;
            //will-change: transform;
            font-family: sans-serif;
            transition: background-color .5s, color .5s;

            &::before{
                content: '';
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgb(65, 151, 65);
                z-index: -1;
                transition: background-color .5s;
            }

            &.stopwatch__btn--start-stop{
                color: rgb(30, 221, 30);
            }

            &.stopwatch__btn--round{
                background: rgb(48, 47, 47);
                color: #fff;

                &::before{
                    background: none;
                }
            }

            &.h-change-backgorund-color{
                background-color: rgb(88, 87, 87);

                &::before{
                    background-color: rgb(88, 87, 87);
                }
            }

            &.h-change-border-color{
                color: rgb(245, 161, 161);
                background-color: rgb(235, 34, 34);
                
                &:before{
                    background-color: rgb(235, 34, 34);
                }
            }
        }
    }

    .stopwatch__display-round{
        position: relative;
        margin-top: 50px;
        width: 30%;
        min-height: 300px;
        left: 15%;
        transform: translateX(-50%);
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }
}